/* App.css */

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Background color */
    padding: 10px 20px; /* Padding */
  }
  
 a {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    margin-right: 20px; /* Spacing between links */
    font-size: 18px; /* Font size */
    border: 1px solid black; /* Add border */
    padding: 5px 10px; /* Padding */
    border-radius: 4px;
    background-color: #333;
  }
a:hover {
    color: #a3e509; /* Text color on hover */
  }
  
  .App-header {
    padding: 20px 0; 
    text-align: center; /* Center align text */
    color: #fff; /* Text color */
    margin-bottom: 20px;
  }
  
  fieldset{
    margin: 15px;
  }